@{
    Layout = "_LayoutRegister";
    Profile main = new Profile();
}

@model Account

<div class="w-50 m-auto text-center">
    <div class="my-5">
        <h1>Pagamento effettuato!</h1>
        <h3>Ora non ci resta che definire i profili per iniziare lo streaming.</h3>
        <p>Crea il primo profilo:</p>
    </div>

    <p>Il tuo abbonamento @Model.SubsName ti permette di creare un massimo di @Model.Sub.MaxProfilesNumber profili.</p>
    <p>Ora creiamo il principale, in seguito potrai aggiungere, modificare ed eliminare quelli che preferisci!</p>
    <form asp-controller="Access" asp-action="Definition" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="@main.AccountId" value="@Model.Id" />
        <input type="hidden" asp-for="@main.Account" value="@Model" />
        <div class="w-100 border-1">
            <p><strong>Inserisci il nome del profilo</strong></p>
            <input asp-for="@main.Name" class="form-control" />
        </div>

        <div class="d-flex flex-row my-2 fs-3">
            <strong>L'utente è un bambino?</strong>
           <input asp-for="@main.IsChild" type="checkbox" value="true" class="form-check-input" />
           <label class="form-check-label" asp-for="@main.IsChild">Si</label>
        </div>

        <input type="submit" class="btn btn-danger" value="Crea!" />
    </form>
</div>